/*-- created by ling on 2017-12-6 14:47. --*/

#root{
  width: 100%;
}
.intro{
  width: 90%;
  margin: 15px auto;
}
body{
  font-family:"Microsoft YaHei", source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}